@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}

body {
  font-family: 'Kumbh Sans', sans-serif;
  min-height: 100vh;
  display: flex;
  justify-content: center;
}

.container {
  width: 1110px;
  position: relative;
}

.header {
  width: 100%;
  height: 112px;
  border-bottom: 1px solid #E4E9F2;
  position: relative;
  display: grid;
  grid-template-columns: min-content 1fr min-content;
}

.logo-box {
  margin-right: 5.6rem;
  display: flex;
  align-items: center;
}

.page-nav {
  height: 100%;
  width: 397px;
  display: flex;
  align-items: center;
}

.page-nav__list {
  width: 100%;
  height: 100%;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.page-nav__item {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.page-nav__link, .page-nav__link:active {
  font-size: 1.5rem;
  color: #68707d;
  text-decoration: none;
}

.page-nav__link:hover {
  color: #1d2025;
}

.page-nav__link:hover ~ .page-nav__underline {
  width: 100%;
  height: 5px;
  background-color: #ff7d1a;
  position: absolute;
  left: 0;
  bottom: 0;
}

.user-nav {
  display: flex;
}

.user-nav__icon-box {
  height: 100%;
  display: flex;
  align-items: center;
  position: relative;
}

.user-nav__icon:hover {
  cursor: pointer;
}

.user-nav__icon:hover path {
  fill: #1d2025;
}

.user-nav__cart-number {
  font-size: 1rem;
  font-weight: 700;
  padding: .2rem .6rem;
  border-radius: 6.5px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 3.8rem;
  right: -1rem;
  color: white;
  background-color: #ff7d1a;
}

.user-nav__user-avatar-box {
  height: 100%;
  display: flex;
  align-items: center;
  margin-left: 4.5rem;
}

.user-nav__user-avatar {
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-image: url(../images/image-avatar.png);
  background-size: cover;
}

.user-nav__user-avatar:hover {
  cursor: pointer;
}

.user-nav__user-avatar:hover :first-child {
  border: 2px solid #ff7d1a;
}

.user-nav__avatar-border {
  width: 100%;
  height: 100%;
  border-radius: 50%;
}

.cart-pop-up {
  background-color: white;
  width: 360px;
  height: 256px;
  border-radius: 10px;
  box-shadow: 0px 20px 50px -20px rgba(0, 0, 0, 0.2);
  position: absolute;
  z-index: 200;
  right: 0;
  bottom: 20px;
  transform: translateY(100%) translateX(75px);
  overflow: hidden;
}

.cart-pop-up__header {
  width: 100%;
  height: 30%;
  border-bottom: 1px solid #E4E9F2;
  padding: 2.4rem;
}

.cart-pop-up__title {
  font-size: 1.6rem;
  font-weight: 700;
}

.cart-pop-up__main {
  width: 100%;
  height: 70%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.cart-pop-up__empty-msg {
  color: #68707d;
  font-size: 1.6rem;
  font-weight: 700;
}

.product-section {
  width: 100%;
  display: flex;
}

.product-gallery {
  width: 50%;
  padding-top: 91px;
  padding-left: 48px;
  overflow: hidden;
}

.product-gallery__preview-wrapper {
  width: 445px;
}

.product-gallery__large-preview {
  background-image: url(../images/image-product-1.jpg);
  background-size: cover;
  width: 100%;
  height: 445px;
  border-radius: 15px;
  margin-bottom: 30px;
  transition: background-image 0.3s ease;
}

.product-gallery__large-preview:hover {
  cursor: pointer;
}

.product-gallery__thumbnails {
  display: flex;
  justify-content: space-between;
}

.product-gallery__thumb-prew {
  background-size: cover;
  width: 88px;
  height: 88px;
  border-radius: 10px;
  position: relative;
}

.product-gallery__thumb-prew:hover {
  cursor: pointer;
}

.product-gallery__thumb-prew:hover::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
}

.product-gallery__thumb-active::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
}

.product-gallery__thumb-active::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
  border: 2px solid #ff7d1a;
}

.product-gallery__thumb-prew--1 {
  background-image: url(../images/image-product-1-thumbnail.jpg);
}

.product-gallery__thumb-prew--2 {
  background-image: url(../images/image-product-2-thumbnail.jpg);
}

.product-gallery__thumb-prew--3 {
  background-image: url(../images/image-product-3-thumbnail.jpg);
}

.product-gallery__thumb-prew--4 {
  background-image: url(../images/image-product-4-thumbnail.jpg);
}

.product-description {
  width: 50%;
  padding-top: 153px;
  padding-left: 66px;
}

.product-description__content-wrapper {
  width: 445px;
}

.product-description__manufacturer {
  color: orange;
  font-size: 1.3rem;
  font-weight: 700;
  letter-spacing: 2px;
  margin-bottom: 2rem;
  text-transform: uppercase;
}

.product-description__title {
  color: #1d2025;
  font-size: 4.4rem;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 4rem;
}

.product-description__info {
  color: #68707d;
  font-size: 1.6rem;
  font-weight: 400;
  line-height: 1.5;
  margin-bottom: 3rem;
}

.product-description__price-section {
  margin-bottom: 4rem;
}

.product-description__current-price {
  color: #1d2025;
  font-size: 2.8rem;
  font-weight: 700;
  margin-right: 1.6rem;
}

.product-description__discount {
  color: #ff7d1a;
  background-color: #ffede0;
  border-radius: 6px;
  font-size: 1.6rem;
  font-weight: 700;
  padding: .5rem .9rem;
}

.product-description__old-price {
  color: #b6bcc8;
  display: block;
  font-size: 1.6rem;
  font-weight: 700;
  margin-top: 1rem;
  text-decoration: line-through;
}

.buttons-section {
  height: 56px;
  display: flex;
}

.quantity-controls {
  background-color: #f7f8fd;
  height: 56px;
  display: flex;
  margin-right: 1.6rem;
  border-radius: 10px;
}

.quantity-controls__substract {
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-controls__substract:hover {
  cursor: pointer;
}

.quantity-controls__substract:hover path {
  fill: #FFAB6A;
}

.quantity-controls__amount {
  color: #68707d;
  font-size: 1.6rem;
  font-weight: 700;
  width: 69px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-controls__add {
  width: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.quantity-controls__add:hover {
  cursor: pointer;
}

.quantity-controls__add:hover path {
  fill: #FFAB6A;
}

.btn {
  border: none;
  background-color: #ff7d1a;
  width: 100%;
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.btn:hover {
  cursor: pointer;
  background-color: #FFAB6A;
}

.btn__text {
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  line-height: 1rem;
}

.cart-icon {
  margin-right: 1.5rem;
}

.cart-path {
  fill: white;
}

.hidden {
  display: none;
  visibility: hidden;
}

.lightbox {
  background-color: rgba(0, 0, 0, 0.75);
  width: 100%;
  height: 100%;
  position: fixed;
  z-index: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: auto;
}

.lightbox__content-wrapper {
  position: relative;
}

.lightbox__control {
  width: 56px;
  height: 56px;
  border-radius: 50%;
  background-color: white;
  position: absolute;
  top: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.lightbox__control:hover {
  cursor: pointer;
}

.lightbox__control:hover path {
  stroke: #ff7d1a;
}

.lightbox__control--previous {
  left: 0;
  transform: translateX(-50%) translateY(-50%);
}

.lightbox__control--next {
  right: 0;
  transform: translateX(50%) translateY(-50%);
}

.lightbox__close-btn {
  position: absolute;
  right: 0;
}

.lightbox__close-btn path {
  fill: white;
}

.lightbox__close-btn:hover {
  cursor: pointer;
}

.lightbox__close-btn:hover path {
  fill: #ff7d1a;
}

.lightbox__large-prew {
  background-image: url(../images/image-product-1.jpg);
  background-size: cover;
  width: 550px;
  height: 550px;
  border-radius: 15px;
  margin-top: 4.5rem;
  position: relative;
}

.lightbox__thumbnails-container {
  width: 100%;
  padding: 38px 50px 0;
  display: flex;
  justify-content: space-between;
}

.lightbox__thumbnail {
  background-size: cover;
  width: 88px;
  height: 88px;
  border-radius: 10px;
  position: relative;
}

.lightbox__thumbnail:hover {
  cursor: pointer;
}

.lightbox__thumbnail:hover::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.5);
}

.lightbox__thumbnail--1 {
  background-image: url(../images/image-product-1-thumbnail.jpg);
}

.lightbox__thumbnail--2 {
  background-image: url(../images/image-product-2-thumbnail.jpg);
}

.lightbox__thumbnail--3 {
  background-image: url(../images/image-product-3-thumbnail.jpg);
}

.lightbox__thumbnail--4 {
  background-image: url(../images/image-product-4-thumbnail.jpg);
}

.lightbox__thumbnail--active::before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
  background-color: rgba(255, 255, 255, 0.75);
}

.lightbox__thumbnail--active::after {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  border-radius: inherit;
  position: absolute;
  border: 2px solid #ff7d1a;
}
