@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');

// COLORS
$color-orange: hsl(26, 100%, 55%);
$color-light-orange: #FFAB6A;
$color-pale-orange: hsl(25, 100%, 94%);

$color-very-dark-blue: hsl(220, 13%, 13%);
$color-dark-grayish-blue: hsl(219, 9%, 45%);
$color-grayish-blue: hsl(220, 14%, 75%);
$color-light-grayish-blue: hsl(223, 64%, 98%);
$color-white: hsl(0, 0%, 100%);
$color-black: hsl(0, 0%, 0%);

// FONT WEIGHTS
$font-weight-normal: 400;
$font-weight-bold: 700;

*,
*::after,
*::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
}

body {
    font-family: 'Kumbh Sans', sans-serif;
    min-height: 100vh;
    display: flex;
    justify-content: center;
}

@mixin flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
  }

.container {
    width: 1110px;
    position: relative;
}


// HEADER
.header {
   width: 100%;
   height: 112px;
   border-bottom: 1px solid #E4E9F2;
   position: relative;
   
   display: grid;
   grid-template-columns: min-content 1fr min-content;
}

.logo-box {
    margin-right: 5.6rem;
    display: flex;
    align-items: center; 
}

.page-nav {
    height: 100%;
    width: 397px;
    display: flex;
    align-items: center;
    &__list {
        width: 100%;
        height: 100%;
        list-style: none;
        display: flex;
        justify-content: space-between;
    }

    &__item {
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
    }

    &__link,
    &__link:active {
        font-size: 1.5rem;
        color: $color-dark-grayish-blue;
        text-decoration: none;
    }

    &__link:hover {
        color: $color-very-dark-blue;
    }

    &__link:hover ~ &__underline {
        width: 100%;
			height: 5px;
			background-color: $color-orange;
			position: absolute;
			left: 0;
			bottom: 0;
    }
}

.user-nav {
    display: flex;

    &__icon-box {
        height: 100%;
        display: flex;
        align-items: center;
        position: relative;
    }

    &__icon:hover {
        cursor: pointer;
    }

    &__icon:hover path {
        fill: $color-very-dark-blue;
    }

    &__cart-number {
        font-size: 1rem;
        font-weight: $font-weight-bold;
        padding: .2rem .6rem;
        border-radius: 6.5px;
        @include flex-center;
        position: absolute;
        top: 3.8rem;
        right: -1rem;
        color: $color-white;
        background-color: $color-orange;
    }

    &__user-avatar-box {
        height: 100%;
        display: flex;
        align-items: center;
        margin-left: 4.5rem;
    }

    &__user-avatar {
        height: 50px;
        width: 50px;
        border-radius: 50%;
        background-image: url(../images/image-avatar.png);
        background-size: cover;

        &:hover {
            cursor: pointer;
        }

        &:hover :first-child {
            border: 2px solid $color-orange;
        }
    }

    &__avatar-border {
        width: 100%;
        height: 100%;
        border-radius: 50%;
    }

}


.cart-pop-up {
    background-color: $color-white;
    width: 360px;
    height: 256px;
    border-radius: 10px;
    box-shadow: 0px 20px 50px -20px rgba(0, 0, 0, 0.2);
    position: absolute;
    z-index: 200;
    right: 0;
    bottom: 20px;
    transform: translateY(100%) translateX(75px);
    overflow: hidden;

    &__header {
        width: 100%;
        height: 30%;
        border-bottom: 1px solid #E4E9F2;
        padding: 2.4rem;
    }

    &__title {
        font-size: 1.6rem;
        font-weight: $font-weight-bold;
    }
    &__main {
        width: 100%;
        height: 70%;
        @include flex-center;
    }

    &__empty-msg {
        color: $color-dark-grayish-blue;
        font-size: 1.6rem;
        font-weight: $font-weight-bold;
    }
}


// PRODUCT SECTION

.product-section {
    width: 100%; 
    display: flex;
}


.product-gallery {
    width: 50%;
    padding-top: 91px;
    padding-left: 48px;
    overflow: hidden;

    &__preview-wrapper {
        width: 445px;
    }

    &__large-preview {
        background-image: url(../images/image-product-1.jpg);
        background-size: cover;
        width: 100%;
        height: 445px;
        border-radius: 15px;
        margin-bottom: 30px;
        transition: background-image 0.3s ease;

        &:hover {
            cursor: pointer;
        }
    }

    &__thumbnails {
        display: flex;
        justify-content: space-between;
    }

    &__thumb-prew{
        background-size: cover;
        width: 88px;
        height: 88px;
        border-radius: 10px;
        position: relative;
    }

    &__thumb-prew:hover {
        cursor: pointer;
        &::before {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            position: absolute;
            background-color: rgba(255, 255, 255, 0.5);
         }
    }

    &__thumb-active {
        &::before {
           content: '';
           display: block;
           width: 100%;
           height: 100%;
           border-radius: inherit;
           position: absolute;
           background-color: rgba(255, 255, 255, 0.75); 
        }
        &::after {
            content: '';
            display: block;
            width: 100%;
            height: 100%;
            border-radius: inherit;
            position: absolute;
            border: 2px solid $color-orange;
        }
    }

    &__thumb-prew--1 {
        background-image: url(../images/image-product-1-thumbnail.jpg);
    }

    &__thumb-prew--2 {
        background-image: url(../images/image-product-2-thumbnail.jpg);
    }

    &__thumb-prew--3 {
        background-image: url(../images/image-product-3-thumbnail.jpg);
    }

    &__thumb-prew--4 {
        background-image: url(../images/image-product-4-thumbnail.jpg);
    }
}


.product-description {
    width: 50%;
    padding-top: 153px;
        padding-left: 66px;

    &__content-wrapper {
        width: 445px;
        
    }

    &__manufacturer {
        color: orange;
        font-size: 1.3rem;
        font-weight: $font-weight-bold;
        letter-spacing: 2px;
        margin-bottom: 2rem;
        text-transform: uppercase;
    }

    &__title {
        color: $color-very-dark-blue;
        font-size: 4.4rem;
        font-weight: $font-weight-bold;
        line-height: 1;
        margin-bottom: 4rem;
    }

    &__info {
        color: $color-dark-grayish-blue;
        font-size: 1.6rem;
        font-weight: $font-weight-normal;
        line-height: 1.5;
        margin-bottom: 3rem;
    }

    &__price-section {
        margin-bottom: 4rem;
    }

    &__current-price {
        color: $color-very-dark-blue;
        font-size: 2.8rem;
        font-weight: $font-weight-bold;
        margin-right: 1.6rem;
    }

    &__discount {
        color: $color-orange;
        background-color: $color-pale-orange;
        border-radius: 6px;
        font-size: 1.6rem;
        font-weight: $font-weight-bold;
        padding: .5rem .9rem;
    }
    &__old-price {
        color: $color-grayish-blue;
        display: block;
        font-size: 1.6rem;
        font-weight: $font-weight-bold;
        margin-top: 1rem;
        text-decoration: line-through;
    }
}

.buttons-section {
    height: 56px;
    display: flex;
}

.quantity-controls {
    background-color: $color-light-grayish-blue;
    height: 56px;
    display: flex;
    margin-right: 1.6rem;
    border-radius: 10px;

    &__substract {
        width: 44px;
        @include flex-center;
        &:hover {
            cursor: pointer;
        }
        &:hover path{
            fill: $color-light-orange;
        }
    }

    &__amount {
        color: $color-dark-grayish-blue;
        font-size: 1.6rem;
        font-weight: $font-weight-bold;
        width: 69px;
        @include flex-center;
    }

    &__add {
        width: 44px;
        @include flex-center;

        &:hover {
            cursor: pointer;
        }

        &:hover path{
            fill: $color-light-orange;
        }
    }
}

.btn {
    border: none;
    background-color: $color-orange;
    width: 100%;
    border-radius: 10px;
    @include flex-center;

    &:hover {
        cursor: pointer;
        background-color: $color-light-orange;
    }

    &__text {
        color: $color-white;
        font-size: 1.6rem;
        font-weight: $font-weight-bold;
        line-height: 1rem;
    }
}

.cart-icon {
    margin-right: 1.5rem;
}

.cart-path {
    fill: $color-white;
}

.hidden {
    display: none;
    visibility: hidden;
}


// LIGHTBOX
.lightbox {
    background-color: rgba(0, 0, 0, 0.75);
    width: 100%;
    height: 100%;
    
    position: fixed;
    z-index: 500;
    @include flex-center;
    overflow: auto;

    &__content-wrapper {
        position: relative;
    }

    &__control {
        width: 56px;
        height: 56px;
        border-radius: 50%;
        background-color: $color-white;
        position: absolute;
        top: 50%;
        @include flex-center;

        &:hover {
            cursor: pointer;
        }

        &:hover path {
            stroke: $color-orange;
        }

        &--previous {
            left: 0;
            transform: translateX(-50%) translateY(-50%);
        }

        &--next {
            right: 0;
            transform: translateX(50%) translateY(-50%);
        }
    }

    &__close-btn {
        position: absolute;
        right: 0;
        & path {
            fill: $color-white;
        }

        &:hover {
            cursor: pointer;
        }

        &:hover path {
            fill: $color-orange;
        }
    }

    &__large-prew {
        background-image: url(../images/image-product-1.jpg);
        background-size: cover;
        width: 550px;
        height: 550px;
        border-radius: 15px;
        margin-top: 4.5rem;
        position: relative;
    }

    &__thumbnails-container {
        width: 100%;
        padding: 38px 50px 0;
        display: flex;
        justify-content: space-between;
    }

    &__thumbnail {
        background-size: cover;
        width: 88px;
        height: 88px;
        border-radius: 10px;
        position: relative;

        &:hover {
            cursor: pointer;
            &::before {
                content: '';
                display: block;
                width: 100%;
                height: 100%;
                border-radius: inherit;
                position: absolute;
                background-color: rgba(255, 255, 255, 0.5);
             }
        }

        &--1 {
            background-image: url(../images/image-product-1-thumbnail.jpg);
        }
        &--2 {
            background-image: url(../images/image-product-2-thumbnail.jpg);
        }
        &--3 {
            background-image: url(../images/image-product-3-thumbnail.jpg);
        }
        &--4 {
            background-image: url(../images/image-product-4-thumbnail.jpg);
        }

        &--active {
                &::before {
                   content: '';
                   display: block;
                   width: 100%;
                   height: 100%;
                   border-radius: inherit;
                   position: absolute;
                   background-color: rgba(255, 255, 255, 0.75); 
                }
                &::after {
                    content: '';
                    display: block;
                    width: 100%;
                    height: 100%;
                    border-radius: inherit;
                    position: absolute;
                    border: 2px solid $color-orange;
                }
        }
    }


}